{% extends "layout.html" %}
{% load staticfiles %}
{% load staticblock %}
{% load url from future %}

{% block content %}
    {% include '_masthead_sample.html' %}

    {% assets topcss %}
        {#    Тук се добавят допълнителни CSS файлове по примера на долния ред #}
        <link rel="stylesheet" type="text/css" href="{% static 'libs/select2/select2.css' %}">
        {#    Горния ред търси във всяка папка на горно ниво в проекта (auth, locale, login, projects..) файл вътре в нея #}
        {#    за файл вътре в нея "static/css/lib/select2/select2.css" #}
    {% endassets %}
    {% assets bottomjs %}
        <script src="{% static 'js/lib/select2/select2.mod.min.js' %}"></script>
        <script src="{% static 'js/select2grouped.js' %}"></script>
        <script src="{% static 'js/lib/select2/select2_locale_bg.js' %}"></script>
        {#    Тук се добавят допълнителни javascript файлове по примера на долния ред #}
        <script src="{% static 'js/temp.js' %}"></script>
        {#    Горния ред търси във всяка папка на горно ниво в проекта (auth, locale, login, projects..) файл вътре в нея #}
        {#    за файл вътре в нея "static/js/users.js" #}
    {% endassets %}

    
    <div class="layout">
        
        <form>
            <fieldset class="name">
                <label for="name">
                    <h3 class="title-primary">Име и фамилия:</h3>
                </label>
                <input type="text" name="name" id="name" value="Цветелина Константинова">
            </fieldset>
            <fieldset class="email">
                <label for="email">
                    <h3 class="title-primary">Имейл:</h3>
                    <h4 class="title-info">Адресът ви няма да бъде публично достъпен и няма да ви 
изпращаме спам. Ще го използваме, за да...</h4>
                </label>
                <input type="text" name="email" id="email" value="tsvetelina@konstantinova.bg">
            </fieldset>
            <fieldset class="skills">
                <label for="skills">
                    <h3 class="title-primary">Избрани дейности:</h3>
                    <h4 class="title-info">С какво бихте искали да се включите? Не е нужно да е това,
което умеете най-добре.</h4>
                </label>
                <input type="text" name="skills" id="skills" value="Графичен дизайн, UX">
            </fieldset>
            <fieldset class="availability">
                <h3 class="title-primary">Мога да се включа:</h3>
                <input type="radio" name="now" id="now" value="още сега">
                <label for="now">още сега</label>
                <input type="radio" name="later" id="later" value="по-късно">
                <label for="later">по-късно</label>
                <label for="date">
                    <h4 class="title-info">Моля въведете датата, след която ще бъдете на разположение.</h4>
                </label>
                <input type="text" name="date" id="date" value="05.09.2014">
            </fieldset>
            <fieldset class="location">
                <label for="location">
                    <h3 class="title-primary">Местоположение:</h3>
                </label>
                <input type="text" name="location" id="location" value="София">
            </fieldset>
            <fieldset class="motivation">
                <label for="motivation">
                    <h3 class="title-primary">Мотивация:</h3>
                    <h4 class="title-info">Защо искате да сте част от Общество?</h4>
                </label>
                <textarea name="motivation" id="motivation">Защото съм готина и искам да съм още по-готина.</textarea>
            </fieldset>
            <input type="submit" value="Запази промените">    
        </form>
        <aside>
            <img alt="Профилна снимка на Цветелина Константинова">
            <a href="">+ Нова снимка</a>
            <h3 class="title-primary">Интерес към проекти:</h3>
            <img alt="Питай ги">
            <img alt="Recycle"> 
            <h4 class="title-info">За да промените проектите, които  сте 
избрали, отидете в <a href="">Таблото с проекти</a>.</h4>
            <h4 class="title-info">Публичният ви профил е достъпен в <a href="">Хора</a>.</h4>
        </aside>
    </div>

{% endblock %}