

.home {
  section.slice {
    padding-bottom: 59px;
  }
  #projects header {
    text-align: center;
    p {
      font-size: 17px;
      color: #94a8af;
      max-width: 497px;
      display: inline-block;
      margin: 18px 0 0 0;
      padding-bottom: 62px;
    }
  }
  .slider article {
    font-size: 17px;
    line-height: 21px;
    color: #94a8af;
    .bullet {
      font-size: 19.64px;
      width: 46px;
      text-align: center;
      float: left;
    }
    ul li.action .bullet {
      position: relative;
      top: -3px;
    }
    > section {
      float: left;
      text-align: center;
      &.how {
        width: 32%;
        padding-top: 34px;
        > .heading {
          margin: 0 auto;
          margin-bottom: 30px;
          a {
            background-image: url("../img/home-slider-how-bg.png");
            background-position: -57px -21px;
            &:hover, &:focus {
              background-position: -37px -41px;
            }
          }
        }
        ul {
          margin-left: 12.5%;
        }
      }
      &.why {
        width: 36%;
        > .heading {
          margin: 0 auto;
          margin-bottom: 15px;
          width: 298px;
          height: 298px;
          a {
            background-image: url("../img/home-slider-why-bg.png");
            background-position: 65px -8px;
            width: 298px;
            height: 184px;
            padding-top: 114px;
            &:hover, &:focus {
              background-position: 80px 20px;
            }
          }
        }
      }
      &.who {
        width: 32%;
        padding-top: 34px;
        > .heading {
          margin: 0 auto;
          margin-bottom: 30px;
          a {
            background-image: url("../img/home-slider-who-bg.png");
            background-position: 24px -52px;
            &:hover, &:focus {
              background-position: 14px -30px;
            }
          }
        }
        ul {
          display: inline-block;
          margin-left: 0;
          li {
            float: left;
            padding-top: 1px;
            padding-left: 1px;
            &.break {
              clear: left;
            }
            &:first-child img {
              @include border-radius(2px 0px 0px 2px);
              background-clip: padding-box;
            }
            &.action .button {
              float: left;
              @include border-radius(0px 2px 2px 0px);
              background-clip: padding-box;
              letter-spacing: 0;
            }
          }
        }
      }
      > .heading {
        width: 219px;
        height: 219px;
        font-size: 66px;
        line-height: 66px;
        color: #108eba;
        text-align: center;
        letter-spacing: -0.07em;
        a {
          width: 219px;
          height: 138px;
          padding-top: 81px;
          display: block;
          text-decoration: none;
          color: #108eba;
          background-color: #1b3640;
          background-repeat: no-repeat;
          @include border-radius(50%);
          background-clip: padding-box;
          @include transition(background-position 400ms, background-color 150ms ease-in-out, color 150ms ease-in-out);
          &:focus, &:hover {
            color: #fff;
            background-color: #197A9E;
          }
          b {
            position: relative;
            top: 0;
            display: inline-block;
          }
          &:active {
            color: #197A9E;
            background-color: #97C1D1;
            b {
              top: 3px;
            }
          }
        }
      }
      ul {
        text-align: left;
        display: inline-block;
        margin-left: 11%;
        margin-right: 2%;
      }
    }
    .how ul li p, .why ul li p {
      margin: 13px 0 0 46px;
    }
  }
  .slider-nav {
    border-top: 1px solid #e5e5e5;
    position: relative;
    margin: 0 2% 0 2%;
  }
}


.home {
  nav.main {
    .slider-nav {
      margin-top: 10px;
    }
    .slider-nav-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: #fff;
      padding-top: 14px;
      height: 33px;
      overflow: hidden;
      opacity: 1;
      z-index: 3;
      &.waiting {
        top: 10px;
        opacity: 0.3;
      }
    }
  }
  nav.main .slider-nav span.nav {
    width: 41px;
    height: 31px;
    top: -16px;
  }
  .slider-nav span.nav {
    position: relative;
    width: 51px;
    height: 41px;
    top: -21px;
    background: #fff;
    border: 1px solid #e8ecee;
    text-align: center;
    line-height: 41px;
    color: #e2e7e9;
    z-index: 2;
  }
  .slider-nav span.nav {
    &.active {
      cursor: pointer;
      color: #061e27;
      border-color: #b4c1c6;
      left: 0;
      &:hover {
        color: #fff;
        border-color: #197A9E;
        background: #197A9E;
      }
      &:active {
        background: #97C1D1;
        border-color: #97C1D1;
        color: #197A9E;
      }
    }
    &.next.active:active {
      left: 4px;
    }
    &.prev {
      &.active:active {
        left: -4px;
      }
      float: left;
    }
    &.next {
      float: right;
    }
    .fi {
      font-size: 30.61px;
      vertical-align: top;
      margin-top: 5px;
      position: relative;
      left: 0;
    }
    &.next.active:active .fi {
      left: 0.03em;
    }
    &.prev.active:active .fi {
      left: -0.03em;
    }
  }
  nav.main .layout {
    position: relative;
  }
  nav.main .slider-nav span.nav .fi {
    font-size: 23px;
    margin-top: 4px;
  }
  .slider-nav .indicator {
    position: absolute;
    left: 50%;
    top: -10px;
    height: 20px;
    width: 22px;
    margin-left: -11px;
    display: block;
    background: #fff;
    z-index: 2;
    .scope {
      position: relative;
      display: block;
    }
    .light {
      background: #108eba;
      position: absolute;
      @include border-radius(50%);
      background-clip: padding-box;
      width: 10px;
      height: 10px;
      display: block;
      &.center {
        top: 5px;
        left: 6px;
      }
    }
  }
}


.home nav.main .title-holder {
  position: absolute;
  top: 0;
  text-align: center;
  left: 100px;
  right: 100px;
  font-weight: 700;
  font-size: 22px;
  opacity: 1;
  z-index: 4;
  .helper {
    display: inline-block;
    padding: 8px 22px 0 22px;
    background: #fff;
  }
  &.waiting {
    opacity: 0;
  }
}

article .bullet.fi {
  &.flaticon-browser18 {
    font-size: 36px;
    margin-top: -0.21em;
  }
  &.flaticon-small35 {
    font-size: 16.64px;
  }
  &.flaticon-start1 {
    font-size: 30.64px;
  }
}

.home #forces {
  ul {
    text-align: right;
  }
  .force {
    padding-top: 33px;
    padding-bottom: 30px;
    overflow: hidden;
  }
  .even {
    background: #e9eced;
  }
  .heading {
    font-size: 70.8px;
    line-height: 0.93em;
    float: left;
    width: 45.75%;
    text-align: right;
    margin: 0;
    letter-spacing: -0.05em;
    a {
      color: #108eba;
      display: inline-block;
      text-decoration: none;
      position: relative;
      z-index: 1;
      top: 0;
    }
    padding-top: 70px;
    padding-bottom: 70px;
    span {
      position: absolute;
      bottom: -2.2em;
      display: block;
      width: 100%;
      color: #7bc142;
      font-size: 37px;
      line-height: 1em;
      letter-spacing: -0.05em;
      text-align: center;
      opacity: 0;
    }
    a {
      &:hover {
        color: #08aee8;
        top: -0.35em;
        span {
          opacity: 1;
          bottom: -2em;
        }
      }
      &:active {
        span {
          bottom: -1.7em;
          line-height: 0.9em;
          opacity: 1;
          color: #469704;
        }
        top: -0.4em;
        color: #197A9E;
      }
    }
    span strong {
      display: block;
      color: #c7c7c7;
    }
  }
  .odd .heading {
    padding-right: 4.25%;
    margin-right: 4.25%;
  }
  .even .heading {
    float: right;
    text-align: left;
    padding-left: 4.25%;
    margin-left: 4.25%;
  }
  .odd {
    ul {
      text-align: left;
    }
    text-align: left;
  }
  .force {
    p {
      font-size: 24px;
      color: #94a8af;
      line-height: 29px;
      margin: 0;
      padding-bottom: 15px;
    }
    &.even p {
      color: #6a8890;
    }
    &.rows2x2 {
      p {
        padding-top: 20px;
      }
      .heading {
        padding-bottom: 40px;
        padding-top: 15px;
        height: 132px;
      }
    }
    &.rows1x3 {
      p {
        padding-top: 20px;
      }
      .heading {
        padding-top: 73px;
        padding-bottom: 73px;
      }
    }
  }
  li.contact {
    padding-top: 14px;
  }
  .even li.contact {
    right: -5px;
  }
  li.contact a {
    @extend .basic-transition;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2296c1;
    text-decoration: none;
    position: relative;
    .fi {
      @extend .basic-transition;
      font-size: 11px;
      font-weight: normal;
      color: #a5bec4;
      position: relative;
      left: -1px;
      top: -1px;
    }
  }
}
.home {
  #forces li.contact a {
    &:active {
      color: #197A9E;
    }
    &:hover .fi {
      color: #2296c1;
      left: -3px;
    }
}
  #forces li.contact a:active {
    left: 2px;
    .fi {
      color: #4ACEFF;
      @include transform(scale(1.2));
      left: 1px;
      top: -1px;
    }
  }
  #civic-hacking-product {
    header {
      padding-top: 13px;
      padding-bottom: 23px;
    }
    .map {
      height: 467px;
      width: 712px;
      /*width: 61.16%;*/
      overflow: auto;
      background: url("../img/home-map.png") no-repeat center center;
      float: left;
      margin-left: 8.5%;
    }
    .text-overlay {
      margin-left: 16%;
      margin-top: 24%;
      color: #fff;
      max-width: 62%;
      font-size: 17px;
      line-height: 20px;
      text-align: center;
      p {
        margin: 20px 0;
      }
    }
    iframe.blog {
      margin-top: 70px;
      margin-left: 3%;
      height: 400px;
      width: 23%;
      float: left;
    }
    .flaticon-rss25 {
      font-size: 62.46px;
      float: left;
      margin-top: 186px;
      margin-left: -5.5%;
      position: relative;
      left: 2.9%;
    }
  }
}

.home {
  #requested-logos {
    color: #94A8AF;
    text-align: center;
    img {
      max-height: 100px;
    }
    li {
      margin-left: 5%;
      margin-top: 30px;
      display: inline-block;
    }
  }
  #related-organisations {
    text-align: center;
  }
  #requested-logos p.subtitle, #related-organisations p.subtitle {
    color: #94a8af;
    text-align: center;
    font-size: 17px;
    max-width: 431px;
    display: inline-block;
    line-height: 21px;
    padding-top: 0;
    margin-top: 11px;
  }
  #related-organisations ul li {
    text-align: left;
    float: left;
    width: 20%;
    margin-left: 5%;
    margin-bottom: 22px;
    margin-top: 48px;
    color: #94a8af;
    font-weight: 900;
    font-size: 13px;
    text-transform: uppercase;
    a {
      height: 70px;
      position: relative;
      display: inline-block;
      img {
        position: relative;
      }
      &:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        img {
          opacity: 0.97;
          -webkit-transform: scale(0.8);
          -moz-transform: scale(0.8);
          -ms-transform: scale(0.8);
          -o-transform: scale(0.8);
          transform: scale(0.8);
        }
      }
      &:active {
        top: 2px;
        img {
          top: 2px;
        }
      }
    }
  }
}
.home #forces li.contact a:hover {
  color: #08aee8;
}