{% extends "layout.html" %}
{% load staticfiles %}
{% load url from future %}
{% load restful %}
{% load dict %}


{% block content %}
    {% include '_masthead_sample.html' %}

    <section class="content">
        <nav class="nav-tabs basic-transition-2x">
            <ul class="stripped clearfix">
                <li><a class="selected" href="">Участници</a></li>
                <li><a href="#equipmentInfo">Оборудване</a></li>
                <li><a href="#placeInfo">Място</a></li>
                <li><a href="#entityInfo">Юридическа сила</a></li>
                <li><a href="#reachInfo">Публичност</a></li>
                <li><a href="#expertInfo">Експертиза</a></li>
                <li><a href="#inspirationInfo">Вдъхновение</a></li>
            </ul>
        </nav>
        <section class="users">
            <aside class="filter basic-transition-2x">
                <form class="small" action="">
                    <ul class="stripped filter-simple">
                        <li class="label">
                            <input class="checkbox" type="checkbox" id="check-users-free" checked />
                            <label class="checkbox basic-transition" for="check-users-free">Само тези на разположение
                                <i class="basic-transition round"></i> </label>
                        </li>
                        <li class="label">
                            <input class="checkbox" type="checkbox" id="check-category" />
                            <label class="checkbox basic-transition" for="check-category">Покажи в категории спрямо дейност <i class="basic-transition round"></i> </label>
                        </li>
                    </ul>
                    <div class="filter-advanced">
                        <fieldset class="project">
                            <label for="joinSkills">
                                <h3 class="title-primary">Интерес към проекти:</h3>
                                <h4 class="title-info">Намерете човек спрямо интереса му към дадени проекти</h4>
                            </label>
                            <select name="project" id="userProject" style="width:100%" class="project">
                                <option value=""></option>
                                {% for project in projects %}
                                    <option value="{{ project.id }}">{% if project.slug == 'user'%}Проект по собствена идея{% else %}&bdquo;{{ project.name }}&ldquo;{% endif %}</option>
                                {% endfor %}
                            </select>
                            <div class="users-free">
                            <input class="checkbox" type="checkbox" id="check-users-noprojects" />
                            <label class="checkbox light basic-transition" for="check-users-noprojects">Участници неизбрали проекти
                                <i class="basic-transition round"></i> </label>
                            </div>
                        </fieldset>
                        <fieldset class="skills">
                            <label for="joinSkills">
                                <h3 class="title-primary">Избрани дейности:</h3>
                                <h4 class="title-info">Намерете човек според дейността, в която иска да се включи</h4>
                            </label>
                            <input type="hidden" id="joinSkills" name="skills" style="width:100%" value="" data-choices="{{ skills_options|jsonify }}"/>
                        </fieldset>
                        <fieldset>
                            <label for="name">
                                <h3 class="title-primary">Име</h3>
                                <h4 class="title-info">Допълнително филтрирайте по име</h4>
                            </label>
                            <input class="round" name="name" id="nameFilter" type="text"/>
                        </fieldset>
                    </div>
                </form>
            </aside>
            <section class="list basic-transition-2x">
            {% spaceless %}
                <ul class="stripped users-list">
                    {% for id, u in users.items %}
                    <li class="user-preview"
                        data-is-available="{% if u.is_currently_available %}1{% else %}0{% endif %}"
                        data-project-count="{{ u.preloaded_projects_interests|length }}"
                    >
                        <h2 class="user-names">{{ u.first_name }} {{ u.last_name }}</h2>
                        <div class="avatar">
                            <figure>
                                <a href="#" class="round"><img src="{{ u.get_avatar }}?width=86&height=86" alt="" /></a>
                            </figure>
                            <a href="#" class="button standard blue">попитай</a>
                        </div>
                        {% with skill_count=u.preloaded_skills|length %}
                        <div class="user-skills">
                            <ul class="stripped">
                                {% for g in u.skill_groups %}
                                    {% for s in g.preloaded_per_user_skills|key_or_attr:u.id %}
                                        <li data-name="{{ s.name }}" data-id="{{ s.pk }}" data-group="{{ g.name }}"><a href="">{{ s.name }}</a></li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                            {% if skill_count > 3 %}
                                <a class="more-activities" href="#">и още {{  skill_count|add:"-3" }} {% if skill_count > 4 %}дейности{% else %}дейност{% endif %}</a>
                            {% endif  %}
                        </div>
                        {% endwith%}
                        {% with project_count=u.preloaded_projects_interests|length %}
                        {% if project_count == 0 %}
                            <h6 class="no-projects">няма избрани проекти</h6>
                        {% else %}
                        <ol class="stripped user-projects clearfix">
                            {% for p in u.preloaded_projects_interests %}
                                <li data-name="{{ p.name }}"
                                    data-id="{{ p.id }}"
                                    class="hint--info hint--top {% if forloop.counter > 3 %}hidden{% endif %}"
                                    data-hint="{{ p.name }}">
                                    <a href="#">
                                        <img src="{% if p.logo_thumb %}{{ p.get_logo_thumb }}{% else %}{% static 'img/nologo-thumb.png'%}{% endif %}" alt="" />
                                    </a>
                                </li>
                            {% endfor %}
                        </ol>
                        {% endif %}
                        {% if project_count > 3 %}
                            <a class="bulky more" href="#">още</a>
                        {% endif %}
                        {% endwith%}
                    </li>
                    {% endfor %}
                </ul>
            {% endspaceless %}
                {% include '_footer.html' %}
                {% verbatim %}
                    <script id="popupTemplate" type="x-tmpl-mustache">
                        <section class="user-popup round closed">
                            <a class="close-popup" href="#nogo">&#x2715;</a>
                            <h2 class="user-names">{{ name }}</h2>
                            <div class="avatar">
                                <figure>
                                    <a href="#"><img src="{{ avatar }}" alt="" /></a>
                                </figure>
                                <a href="#" class="button standard blue">попитай</a>
                            </div>
                            <div class="user-desription">
                                {{ desc }}
                            </div>
                            {{#skillGroups}}
                                <h4>{{name}}</h4>
                                <ul class="activities-all stripped">
                                    {{#skills}}
                                        <li>{{name}}</li>
                                    {{/skills}}
                                </ul>
                            {{/skillGroups}}
                            <ol class="stripped user-projects">
                                {{#projects}}
                                <li data-id="{{id}}">
                                    <a href="#">
                                        <img src="{{logo}}" alt="" />
                                        {{name}}
                                    </a>
                                </li>
                                {{/projects}}
                            </ol>
                        </section>
                    </script>
                {% endverbatim %}
            </section>
        </section>
    </section>
    <div id="placeInfo" class="transparent-popup mfp-with-anim round mfp-hide">
        <div class="txt round">
            <p class="alert"><i class="fi flaticon-warning18"></i> Тази страничка още не е готова.</p>

            <p>В нея ще са описани местата, с които може да разполагате за срещи. Ще може да се "book"-ват и да каните
                хора към определно място.</p>

            <p>Примери, които ще се включени:</p>
            <ul>
                <li><a href="https://www.facebook.com/media/set/?set=oa.632672056768212&type=1">Убежище София</a> (10:00
                    - 20:30)
                </li>
                <li><a href="http://soho.bg/">СОХО</a> (19:00 - 21:00, само веднъж месечно)</li>
                <li><a href="http://www.betahaus.bg/">Betahaus</a> (вечер, 2 дни месечно)</li>
                <li><a href="http://initlab.org/">Initlab</a> (когато и както се уговорим)</li>
                <li>Намаления в <a href="http://www.krivoto.com/1.php?id=2">Кривото на ул. Будапеща</a> (когато и както
                    се уговорим)
                </li>
            </ul>
        </div>
    </div>
    <div id="reachInfo" class="transparent-popup mfp-with-anim round mfp-hide">
        <div class="txt round">
            <p class="alert"><i class="fi flaticon-warning18"></i> Тази страничка още не е готова.</p>

            <p>В нея ще се описва с какво Общество.бг помага за по-голямата видимост на проекта, над който работите.</p>

            <p>
                Ще се изредят медии, от които хората са чували за Общество.бг,
                и ще се предложат канали, по които ще можете да пускате инфо за проекта.
            </p>

            <p>
                <strong>Примери:</strong> newsletter-и, медии, различни събития като хакатони, заинтересовани
                журналисти, "social" каналите на Общество.бг ...
            </p>

        </div>
    </div>
    <div id="equipmentInfo" class="transparent-popup mfp-with-anim round mfp-hide">
        <div class="txt round">
            <p class="alert"><i class="fi flaticon-warning18"></i> Тази страничка още не е готова.</p>

            <p>В нея ще се описват материали, с които разполагате като участник в Общество.бг.</p>

            <p>Примери:</p>
            <ul>
                <li><a href="http://status.obshtestvo.bg/milestone/2014/05/24/server-and-collocation.html">
                    Сървър с 32gb RAM, 8 ядра по 2.33ghz ...</a> (където можете да настаните проекта си)
                </li>
                <li>2 професионални фотоапарата Canon, един от които с видео запис</li>
                <li>2 SD карти по 16GB</li>
                <li>статив</li>
                <li><a href="https://www.google.bg/search?q=zoom+h1+review">Микрофон с wind-shield, ZOOM H1</a></li>
                <li><a href="https://www.google.bg/search?q=stock+photos">Stock photo акаунти</a></li>
                <li><a href="http://www.jetbrains.com/products.html">Безплатни лицензи за всеки от продуктите на Jetbrains</a></li>
                <li>...</li>
            </ul>

        </div>
    </div>
    <div id="entityInfo" class="transparent-popup mfp-with-anim round mfp-hide">
        <div class="txt round">
            <p class="alert"><i class="fi flaticon-warning18"></i> Тази страничка още не е готова.</p>

            <p>В нея ще се описват възможностите, които Общество.бг, като регистрирано НПО, дава на проектите и всеки участник .</p>

            <p>Примери, които е трудно без да има формална организация:</p>
            <ul>
                <li>Участия в обществена дискусия (това е невъзможно ако не сме НПО) и предложения за промени на закони </li>
                <li>Натиск по важни въпроси в ролята на организация, състояща се от доста участници и партниращи организации</li>
                <li>Преговори за дарения към проекта, който Ви интересува, в ролята на организация.</li>
                <li>Възможност за кандидатстване за финансиране</li>
                <li>...</li>
            </ul>
        </div>
    </div>
    <div id="inspirationInfo" class="transparent-popup mfp-with-anim round mfp-hide">
        <div class="txt round">
            <p class="alert"><i class="fi flaticon-warning18"></i> Тази страничка още не е готова.</p>

            <p>В нея ще се изреждат линкове на подобни организации и проекти. Ще са подредени в
                категории ще могат да се фитлрират.</p>

            <p>Ще има и примери за качествени визуализаци, статии за добри практики... Като цяло това ще бъде списък
                с надхъващи и усилващи доверието references.</p>
        </div>
    </div>
    <div id="expertInfo" class="transparent-popup mfp-with-anim round mfp-hide">
        <div class="txt round">
            <p class="alert"><i class="fi flaticon-warning18"></i> Тази страничка още не е готова.</p>

            <p>В нея ще се изреждат участници, както и на тази страница, но фокусът ще бъде
               експертните им умения, с които са познати.</p>
        </div>
    </div>
{% endblock %}

{% block headTag %}
    <link rel="stylesheet" type="text/css" href="{% static 'libs/magnific-popup/dist/magnific-popup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libs/select2/select2.css' %}">
{% endblock %}

{% block footer %}
{% endblock %}

{% block footerTag %}
    <script src="{% static 'libs/speakingurl/speakingurl.min.js' %}"></script>
    <script src="{% static 'libs/magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'libs/mustache/mustache.js' %}"></script>
    <script src="{% static 'js/lib/select2/select2.mod.min.js' %}"></script>
    <script src="{% static 'js/select2grouped.js' %}"></script>
    <script src="{% static 'js/lib/select2/select2_locale_bg.js' %}"></script>
    <script src="{% static 'libs/mixitup/build/jquery.mixitup.min.js' %}"></script>
    <script src="{% static 'libs/packery/dist/packery.pkgd.min.js' %}"></script>
        Тук се добавят допълнителни javascript файлове по примера на долния ред
    <script src="{% static 'js/users.js' %}"></script>
        Горния ред търси във всяка папка на горно ниво в проекта (auth, locale, login, projects..) файл вътре в нея
        за файл вътре в нея "static/js/users.js"
{% endblock %}
