{% extends "layout.html" %}
{% load staticfiles %}
{% load staticblock %}

{% block content %}

    {% assets topcss %}
        <link rel="stylesheet" type="text/css" href="{% static 'libs/select2/select2.css' %}">
    {% endassets %}

    {% assets bottomjs %}
        <script src="{% static 'libs/spin.js/spin.js' %}"></script>
        <script src="{% static 'libs/jquery.validation/dist/jquery.validate.js' %}"></script>
        <script src="{% static 'libs/blockui/jquery.blockUI.js' %}"></script>
        <script src="{% static 'js/sidebar.js' %}"></script>
        <script src="{% static 'js/lib/select2/select2.mod.min.js' %}"></script>
        <script src="{% static 'js/lib/select2/select2_locale_bg.js' %}"></script>
        <script src="{% static 'js/ajaxForm.js' %}"></script>
        <script src="{% static 'js/lib/jquery.animateContentSwitch.js' %}"></script>
        <script src="{% static 'js/project.js' %}"></script>
    {% endassets %}

    {% include '_header_inner.html' with screen_tmpl="project/_screen.html" headnav_tmpl="project/_headnav.html" toc_tmpl="project/_toc.html" page_title=project.name %}
    <div class="half-layout">
        <div class="padder">
            <article class="txt">
                {% with 'project/fakedb/_'|add:project.slug|add:".html" as template %}
                    {% include template %}
                {% endwith %}
            </article>
        </div>
    </div>
{% endblock %}