{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html class="no-js" lang="bg">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Общество - модерни, технологични подходи за България | Civic Hacking в България</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    <link rel="icon" type="image/png" href="http://www.obshtestvo.bg/favicon.png">

    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'libs/normalize.css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libs/hint.css/hint.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lib/flaticon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libs/OwlCarousel/owl-carousel/owl.carousel.css' %}">
    {% endcompress %}

    {% compress css %}
    {% block headTag %}{% endblock %}
    {% endcompress %}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    {% endcompress %}
{#    <script src="{% static 'js/lib/modernizr.custom.js' %}"></script>#}
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
</head>
<body class="{{ page }}">
<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="container">

    <nav class="main">
        <div class="container">
            <div class="layout">
                <ul class="clearfix stripped top basic-transition-mid">
                    <li class="about">
                        <a href="{% url 'about' %}" class="basic-transition-mid"><i
                                class="fi flaticon-list23"></i>
                            Всичко за Общество</a>
                    </li>
                    <li class="logo basic-transition-mid hint--info hint--bottom"
                        data-hint="Начална страница">
                        <a href="/"
                           title="Начална страница"
                           class="basic-transition-2x"
                                >Obshtestvo.bg</a>
                    </li>
                    <li class="basic-transition-mid"><a href="{% url 'support' %}#online">Подкрепи
                        проектите</a></li>
                </ul>
                {% block navExtra %}{% endblock %}
                {% if user.is_authenticated %}
                    {% include 'user/_nav.html' %}
                {% endif %}
                <div class="slider-nav-wrapper basic-transition hidden waiting">
                    <div class="slider-nav clearfix">
                        <span class="nav prev basic-transition round"><i
                                class="fi flaticon-arrow462"></i><span
                                class="text hidden">Виж предишния проект</span></span>
                <span class="indicator">
                    <img src="{% static 'img/home-slider-indicator-bg.png' %}" alt=""
                         class="scope"/>
                    <span class="light center"></span>
                </span>
                        <span class="nav next active basic-transition round"><i
                                class="fi flaticon-arrow465"></i><span
                                class="text hidden">Виж следващия проект</span></span>
                    </div>
                </div>
                <div class="title-holder basic-transition-slow hidden waiting">
                    <span class="helper"></span>
                </div>
            </div>
            <div class="sub  basic-transition-mid waiting hidden">
                <div class="dark"></div>
                <div class="light hidden"></div>
                <ul class=" stripped">
                    <li class="basic-transition-mid"><a href="{% url 'faq' %}"
                                                        class="basic-transition-2x">Често
                        задавани въпроси</a></li>
                    <li class="basic-transition-mid"><a href="{% url 'about' %}"
                                                        class="basic-transition-2x">За
                        инициативата </a></li>
                    <li class="basic-transition-mid"><a href="{% url 'report' %}"
                                                        class="basic-transition-2x">Отчети</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    {% block footer %}
    {% include '_footer.html' %}
    {% endblock %}
</div>

{% compress js %}
<script src="{% static 'libs/jquery/dist/jquery.js' %}"></script>
<script src="{% static 'libs/OwlCarousel/owl-carousel/owl.carousel.js' %}"></script>
<script src="{% static 'libs/jquery-waypoints/waypoints.js' %}"></script>
<script src="{% static 'libs/deepmerge/index.js' %}"></script>
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/nav.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
{% endcompress %}

{% compress js %}
{% block footerTag %}{% endblock %}>
{% endcompress %}

{% compress js %}
<script src="{% static 'js/defaults.js' %}"></script>
{% endcompress %}

</body>
</html>