footer {
  padding-top: 100px;
  clear: both;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  color: #94a8af;
  padding-bottom: 150px;

  p {
    font-size: 17px;
    line-height: 21px;
    padding-bottom: 24px;
    padding-top: 3px;
    .connection {
      display: inline-block;
      padding-left: 18px;
    }
    .fi {
      font-size: 21px;
      line-height: 14px;
      position: relative;
      top: 3px;
    }
  }

  .sep {
    text-align: center;
    border-top: 1px solid #e5e5e5;
    position: relative;
    height: 20px;
    width: 369px;
    margin: 0 auto 13px auto;
    i.logo {
      height: 20px;
      width: 44px;
      background: white url("../img/logo-mini.png") no-repeat top center;
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -22px;
      top: -10px;
    }
  }

  .quick-contacts li {
    &.online, &.contact {
      display: inline-block;
      margin: 0 10px;
      width: 220px;
      font-size: 17px;
      line-height: 24px;
    }
    &.online {
      text-align: right;
    }
    &.contact {
      text-align: left;
    }
    .heading {
      font-size: 22px;
      color: #c7c7c7;
      font-weight: normal;
      padding-bottom: 10px;
      margin: 0;
    }
    a {
      color: #94a8af;
      text-decoration: none;
    }
  }
}