

.inner > .container {
  overflow: hidden;
}

.inner {
  &.support .txt > section#act .option header:after {
    @extend .basic-transition-2x;
  }
}

.inner .masthead #sidebar {
  width: 50%;
  left: 0;
  top: 156px;
  position: absolute;
  &.fixed {
    position: fixed;
    top: 92px;
  }

  .screen-collapser {
    overflow: hidden;
    max-height: 343px;
    @include transition(all 200ms ease-in-out);
  }

  .screen-wrapper {
    width: 100%;
    float: right;
    @include transition(all 200ms ease-in-out);
    @include transform-origin(right top 0);
  }

  &.fixed.reduced {
    .toc {
      margin-top: 5px;
    }
    .screen-wrapper {
      width: 205px;
    }
  }
}

.csstransforms .inner .masthead #sidebar.fixed.reduced .screen-wrapper {
  width: 100%;
  @include transform(scale(0.29));
}

.inner {
  .masthead #sidebar {
    &.fixed.reduced .screen-collapser {
      max-height: 100px;
      margin-right: 3%;
      &:hover {
        max-height: 343px;
        margin-right: 0;
        .toc {
          margin-top: 24px;
        }
        .screen-wrapper {
          width: 100%;
          opacity: 1;
          @include transform(scale(1));
        }
      }
    }
    .screen {
      margin-right: 3.6%;
      margin-left: 3.6%;
      text-align: right;
      overflow: hidden;
      max-width: 710px;
      float: right;
      img {
        width: 120%;
        max-width: 710px;
      }
    }
    &.fixed .screen {
      @include box-shadow(0 0 20px 0px rgba(0, 0, 0, 0.05));
    }
  }
  &.report .masthead #sidebar .screen img.logo,
  &.about .masthead #sidebar .screen img.logo {
    width: 80%;
    max-width: 293px;
  }
  &.support .masthead #sidebar .screen .overlay img {
    width: 80%;
    max-width: 402px;
    float: right;
    margin-right: 7.32%;
    margin-bottom: -5%;
  }
  &.report .masthead #sidebar .screen, &.support .masthead #sidebar .screen {
    position: relative;
  }
  &.about .masthead #sidebar .screen {
    position: relative;
    .step.waiting {
      opacity: 0;
    }
    .step2 {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  &.report .masthead #sidebar .screen .overlay,
  &.support .masthead #sidebar .screen .overlay,
  &.about .masthead #sidebar .screen .overlay {
    position: absolute;
    font-size: 17px;
    line-height: 1.2em;
  }
  &.report .masthead #sidebar .screen .step1 .overlay,
  &.support .masthead #sidebar .screen .step1 .overlay,
  &.about .masthead #sidebar .screen .step1 .overlay {
    background: rgba(16, 142, 186, 0.82);
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 18.37%;
  }
  &.support .masthead #sidebar .screen .step1 .overlay {
    background: rgba(16, 142, 186, 0.65);
    text-align: left;
    padding-top: 0;
    h2 {
      font-size: 44.48px;
      font-weight: 700;
      line-height: 0.9em;
      letter-spacing: -0.06em;
      clear: both;
      width: 76%;
      max-width: 476px;
      margin: 0;
      margin-left: 8%;
    }
    p {
      color: #142f3a;
      width: 80%;
      max-width: 500px;
      margin-left: 8%;
    }
  }
  &.about .masthead #sidebar .screen .step2 .overlay {
    top: 0;
    bottom: 0;
    right: 0;
    text-align: left;
    max-width: 390px;
    width: 55%;
  }
  &.report .masthead #sidebar .screen .step1 strong.name,
  &.about .masthead #sidebar .screen .step1 strong.name {
    display: block;
    font-weight: normal;
    padding-top: 2.69%;
    padding-bottom: 1.84%;
  }
  &.report .masthead #sidebar .screen .step1 li,
  &.about .masthead #sidebar .screen .step1 li {
    width: 200px;
    margin: 0 auto;
    text-align: left;
  }
  &.report .masthead #sidebar .screen .step1 li em {
    width: 50px;
    float: left;
    padding-right: 4px;
    color: #d1f2fc;
    text-align: right;
    font-style: normal;
  }
  &.about .masthead #sidebar .screen {
    .step1 li em {
      width: 50px;
      float: left;
      padding-right: 4px;
      color: #d1f2fc;
      text-align: right;
      font-style: normal;
    }
    .step2 {
      strong.title {
        display: block;
        line-height: 33px;
        letter-spacing: -0.05em;
        font-size: 36px;
        font-weight: bold;
        margin-top: 41%;
      }
      p {
        line-height: 20.45px;
        font-size: 20.45px;
        max-resolution: 302px;
        margin-top: 3%;
        max-width: 302px;
        color: #1b3640;
      }
    }
  }
  .masthead #sidebar {
    .nav {
      position: relative;
      clear: both;
    }
    .toc {
      clear: both;
      float: right;
      width: 92.8%;
      max-width: 710px;
      text-align: right;
      padding-right: 3.6%;
      padding-left: 3.6%;
      margin-top: 24px;
      background: #fff;
      opacity: 1;

      &.waiting {
        opacity: 0;
      }
      strong {
        border-bottom: 1px solid #e5e5e5;
        display: block;
        line-height: 1.2;
        padding-top: 10px;
        padding-bottom: 3px;
      }
      em {
        font-style: normal;
        color: #0f82ab;
      }
      ul {
        padding-top: 6px;
      }
      li {
        font-size: 14px;
        line-height: 19px;
        a {
          @extend %mini-more-link;
          color: #7d888c;
          text-decoration: none;
        }
      }
    }
  }
  &.report .masthead #sidebar .toc {
    display: none;
  }
}


@media (max-width: 1324px) {
  .inner.support .masthead #sidebar .screen .step1 .overlay h2 {
    font-size: 30px;
  }
}

@media (max-width: 930px) {
  .inner.support .masthead #sidebar .screen .step1 .overlay h2 {
    font-size: 18px;
  }
}

@media (max-width: 724px) {
  .inner.support .masthead #sidebar .screen .step1 .overlay h2 {
    font-size: 35px;
  }
}

@media (max-width: 1150px) {
  .inner.support .masthead #sidebar .screen .step1 .overlay p {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .inner.support .masthead #sidebar .screen .step1 .overlay p {
    font-size: 12px;
  }
}

@media (max-width: 724px) {
  .inner.support .masthead #sidebar .screen .step1 .overlay p {
    font-size: 17px;
  }
}

.inner {
  h1.center,
  .masthead .head h1.wide {
    clear: both;
    margin-left: 4.22%;
    color: #108eba;
    line-height: 1em;
    letter-spacing: -0.05em;
    padding-bottom: 25px;
    padding-top: 11px;
    font-size: 64px;
  }
  h1.center {
    font-size: 42px;
  }
  &.entry h1.center {
    margin: 0;
    padding: 0;
    padding-top: 31px;
  }
  .masthead #sidebar .head h1.wide {
    font-size: 39px;
    padding-top: 2px;
  }
  .toc strong {
    color: #7d888c;
    font-weight: normal;
  }
}


.inner {
  .start {
    color: #546f79;
    font-size: 17px;
    padding-top: 33px;
    max-width: 500px;
  }
  .txt {
    color: #546f79;
    font-size: 17px;
    padding-top: 33px;
    max-width: 500px;

    p {
      line-height: 1.26em;
      &:first-child {
        margin-top: 0;
      }
      a {
        @extend %standard-link;
      }
    }
    ol a, ul a {
      @extend %standard-link;
    }
    header h2.heading {
      font-size: 65.83px;
      line-height: 65.83px;
      color: #108eba;
      letter-spacing: -0.07em;
      margin: 0;
      position: relative;
      left: -2px;
    }
    > section {
      &.main {
        margin-right: -20%;
        padding-top: 80px;
        page-break-after: always;
        .bg-reset {
          margin-right: 16.5%;
        }
      }
      &#concept {
        padding-top: 0;
        h2 {
          line-height: 1.1em;
          letter-spacing: -0.03em;
          color: #108eba;
        }
      }
      &#act {
        padding-top: 0;
      }
    }
  }
  &.about .txt {
    h3 a.adjust, h2 a.adjust {
      display: block;
      position: relative;
      top: -65px;
      height: 0;
      overflow: hidden;
    }
  }
  &.faq .txt h2 a.adjust {
    display: block;
    position: relative;
    top: -65px;
    height: 0;
    overflow: hidden;
  }
}


.inner {
  .txt {
    h3.heading, .alert, header p.subtitle {
      line-height: 1.2em;
      margin-top: 0.4em;
      margin-bottom: 1em;
      font-weight: normal;
      color: #54656b;
      font-size: 22px;
    }
    .info {
      &.work h3.heading {
        margin-bottom: 1em;
      }
      &.partners h3.heading {
        margin-bottom: 1.5em;
      }
      &.work {
        padding-top: 0.7em;
        padding-bottom: 1.8em;
      }
    }
    .alert {
      padding-top: 8px;
      margin-left: 2%;
      p {
        margin-top: 0;
        padding-left: 48px;
        margin-left: 2%;
      }
      .fi {
        width: 48px;
        float: left;
        text-align: center;
        font-size: 45px;
        line-height: 51px;
        color: #94a8af;
        text-indent: -10px;
        position: relative;
        top: 4px;
      }
    }
  }
  ul.steps {
    padding-top: 5px;
    padding-bottom: 2px;
  }
  .txt .bullet {
    font-size: 19px;
    width: 13.4%;
    position: relative;
    top: 2px;
    text-align: center;
    float: left;
    color: #94a8af;
  }
  ul {
    &.reasons p, &.steps p {
      margin-left: 13.4%;
      margin-right: 13.4%;
      margin-top: 2px;
      max-width: 300px;
    }
    &.channels, &.team {
      margin-left: 3%;
    }
    &.partners {
      margin-left: 6%;
      li {
        margin-top: 13px;
        margin-left: 35px;
      }
    }
    &.channels li, &.team li {
      margin-top: 13px;
      margin-left: 35px;
    }
    &.partners li {
      margin-left: 0;
      margin-top: 20px;
    }
    &.channels li {
      margin-top: 20px;
    }
    &.partners li a, &.channels li a {
      text-decoration: none;
      position: relative;
      display: block;
    }
    &.partners li {
      a {
        &:hover {
          img {
            opacity: 0.97;
            @include transform(scale(0.9));
          }
          h4 {
            color: #108eba;
          }
          p {
            color: #4EBDE9;
          }
        }
        &:active {
          h4, p {
            color: #197A9E;
          }
          top: 2px;
        }
      }
      &:first-child {
        margin-top: 0;
      }
    }
    &.channels li:first-child, &.team li:first-child {
      margin-top: 0;
    }
    &.channels .fi, &.team li img {
      float: left;
      margin-left: -35px;
    }
    &.partners li {
      img {
        float: left;
        width: 14%;
        margin-right: 3%;
      }
      h4 {
        font-weight: normal;
        line-height: 18px;
        display: block;
        margin: 0;
        color: #546f79;
        margin-left: 3%;
      }
    }
    &.channels li h4, &.team li strong {
      font-weight: normal;
      line-height: 18px;
      display: block;
      margin: 0;
      color: #546f79;
      margin-left: 3%;
    }
    &.partners li p, &.channels li p, &.team li strong.position {
      font-size: 14px;
      line-height: 17px;
      margin: 0;
      margin-left: 3%;
    }
    &.partners li {
      p, h4 {
        margin-left: 0;
      }
      p {
        color: #7d888c;
      }
    }
    &.channels {
      li p span.url {
        text-decoration: none;
        color: #85abba;
      }
      .fi {
        height: 35px;
        width: 35px;
        font-size: 47px;
      }
      li {
        &.facebook .fi {
          line-height: 37px;
          color: #2b5291;
        }
        a {
          &:hover {
            h4 {
              color: #108eba;
            }
            p span.url {
              color: #4EBDE9;
            }
          }
          &:active {
            h4, p span.url {
              color: #197A9E;
            }
            top: 2px;
          }
        }
        &.facebook a:hover .fi {
          color: #197A9E;
        }
        &.github a {
          &:hover .fi {
            background: #197A9E;
          }
          &:active .fi {
            background: #97C1D1;
          }
        }
        &.facebook a:active .fi {
          color: #97C1D1;
        }
        &.github .fi {
          background: #142d38;
          color: #fff;
          font-size: 54px;
          line-height: 38px;
          text-indent: -9px;
        }
      }
    }
  }
  .txt #who {
    a[name="join"] {
      display: block;
      position: relative;
      top: -120px;
    }
    .join {
      margin-top: 30px;
      border-left: 1px solid #ebebeb;
      padding: 13px 15px 15px 65px;
      background: whitesmoke url("../img/user-silhouette.png") no-repeat 15px 40px;
    }
  }
}


.inner {
  .txt {
    #who {
      background: url("../img/inner-project-who-bg.png") no-repeat 141% top;
    }
    #why {
      background: url("../img/inner-project-why-bg.png") no-repeat 87% top;
    }
    #how {
      background: url("../img/inner-project-how-bg.png") no-repeat 78% -9px;
    }
    section.main .action {
      margin-top: 10px;
    }
  }
  .start {
    max-width: none;
    padding-top: 53px;
    text-align: center;
  }
  h2.prompt {
    color: #79939e;
    text-align: center;
    font-size: 27px;
    font-weight: normal;
    letter-spacing: -0.04em;
    strong {
      color: #108eba;
      font-size: 26px;
      display: block;
      position: relative;
      letter-spacing: -0.045em;
      top: 1px;
      line-height: 27px;
      left: 2px;
    }
  }
}


.start h2.prompt strong {
  top: -5px;
  font-size: 28px;
}

.inner .start {
  .login {
    display: inline-block;
    padding: 20px 0 18px 0;
    p {
      width: 250px;
      text-align: right;
      line-height: 33px;
      margin: 0;
      padding: 0 8px 0 0;
      float: left;
    }
    li {
      text-align: left;
      width: 500px;
      overflow: hidden;
      padding-bottom: 8px;
    }
  }
  .context {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    padding-bottom: 50px;
    p {
      color: #94a1a6;
      line-height: 1.2em;
      margin: 0;
      padding: 16px 0 19px 0;
    }
    .sep {
      display: inline-block;
      height: 0;
      width: 154px;
      border-top: 1px solid #abc8d3;
    }
  }
}


.inner {
  &.dash #projects, &.entry #projects {
    padding-top: 46px;
  }
}