.inner.entry header.masthead .slider-nav {
  position: relative;
}

#explanations {
  max-width: 430px;
  margin: 0 auto;
  padding-bottom: 54px;
  .progress {
    margin-bottom: 13px;
  }
  .slider {
    overflow: hidden;
    height: 120px;
    line-height: 120px;
    .owl-item {
      height: 120px;
    }
    blockquote {
      display: inline-block;
      color: #dde3e6;
      font-style: italic;
      line-height: 1.2em;
      font-size: 20px;
      margin: 0 5%;
      vertical-align: bottom;
      margin-bottom: 20px;
    }
  }
}

.popup form {
  @extend .standard;
}