.mfp-content {
  .txt {
    background: #fff;
    padding: 23px;
    img {
      max-width: 100%;
    }
  }
  vertical-align: top;
  margin-top: 5%;
}

%transparent-popup {
  position: relative;
  background: none;
  /*padding: 25px;*/
  width: auto;
  max-width: 440px;
  margin: 0 auto;
  @include box-shadow(0 0 100px 3px rgba(0, 0, 0, 0.31));
}

.default-popup {
  @extend %transparent-popup;
}

.mfp-zoom-in {
  .mfp-with-anim {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    @include transform(scale(0.8));
  }
  &.mfp-bg {
    opacity: 0;
    @include transition(all 0.15s ease-out);
  }
  &.mfp-ready .mfp-with-anim {
    opacity: 1;
    @include transform(scale(1));
  }

  &.mfp-ready.mfp-bg {
    opacity: 0.95;
  }
  &.mfp-removing .mfp-with-anim {
    @include transform(scale(0.8));
    opacity: 0;
  }
}

.mfp-bg {
  background: #09232c;
}

.mfp-close-btn-in .mfp-close, .mfp-close {
  color: #fff;
  top: -35px;
  width: 30px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  right: -30px;
}

.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}


.mfp-content .alert {
  background: none;
  font-size: 18px;
  padding-top: 20px;
  margin: 0;
  .fi {
    color: #f4902e;
  }
}