nav.main {
  position: fixed;
  width: 100%;
  height: 48px;
  padding-bottom: 3px;
  z-index: 1000;
  background: url("../img/main-nav-border.png") no-repeat center bottom;
  background-size: 120% 4px;
  > div {
    background: white;
  }
  ul.top {
    margin: 0 auto;
    width: 440px;
    padding-right: 10px;
    height: 48px;
    position: relative;
    left: 0;
    &.about {
      left: 112px;
      li {
        opacity: 0.2;
        &.about {
          opacity: 1;
        }
      }
    }
    li.about .fi {
      margin-right: 7px;
    }
    &.about li.about a {
      color: #108eba;
    }
  }
  li.logo a {
    height: 20px;
    width: 22px;
    background: url("../img/logo-mini.png") no-repeat top left;
    text-indent: -9999em;
    display: block;
    &:before, &:after {
      @extend .basic-transition-mid;
      content: '';
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      height: 20px;
      bottom: 0;
      @include border-radius(50%);
    }
    &:before {
      background: #fff;
      z-index: 2;
      @include transform(scale(0.5));
    }
    &:after {
      background: #7bc142;
      z-index: 1;
      @include transform(scale(0.4));
    }
    &:hover {
      @include transform(scale(1.1));
      &:after {
        opacity: 0;
        @include transform(scale(2));
      }
      &:before {
        opacity: 0;
        @include transform(scale(1.8));
      }
    }
    &:active {
      @include transform(scale(1))
    }
    .about & {
      &:hover {
        @include transform(scale(1));
      }
      &:before, &:after {
        display: none;
      }
    }
  }
  ul.top {
      > li {
        float: left;
        > a {
          text-decoration: none;
          color: #94a8af;
          font-size: 17px;
          margin: 17px 8px 6px 8px;
          display: inline-block;
          position: relative;
          top: 0;
          &:hover {
            color: #4FB2D4;
          }
          &:active {
            top: 0;
            color: #94a8af;
          }
      }
    }

    &.about > li > a:hover {
      color: #94a8af;
    }
  }
  .user {
    float: right;
    padding-top: 14px;
    height: 34px;
    margin-top: -48px;
    position: relative;
    right: 19px;
    color: #94a8af;
    font-size: 17px;
    @media (max-width: 877px) {
      display: none;
    }
    img {
      margin-left: 30px;
      position: relative;
      vertical-align: top;
      width: 31px;
      height: 31px;
      display: inline-block;
      top: -12px;
    }
    a {
      &:hover {
        color: #4FB2D4;
      }
      &:active {
        top: 1px;
        color: #108eba;
      }
      &.dash {
        &:active img {
          top: -13px;
        }
        display: block;
        overflow: visible;
        height: 20px;
        margin-top: 7px;
        line-height: 17px;
        &:after {
          content: "";
          background: #7bc142;
          width: 14px;
          height: 14px;
          @include border-radius(50%);
          position: absolute;
          top: -3px;
          right: 41px;
        }
        &:active:after {
          top: -4px;
        }
      }
      color: #94a8af;
      position: relative;
      text-decoration: none;
      &.logout {
        position: absolute;
        top: 2px;
        font-size: 14px;
        text-transform: lowercase;
        right: 65px;
        &:active {
          top: 2px;
        }
      }
    }
  }
  .sub {
    width: 100%;
    position: absolute;
    min-height: 165px;
    left: 0;
    opacity: 1;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    .dark {
      background: url("../img/main-nav-sub-bg.png") center top no-repeat;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
    }
    .light {
      background: url("../img/main-nav-sub-bg-light.png") center top no-repeat;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
    }
    ul {
      padding-top: 18px;
    }
    li {
      position: relative;
      top: 0;
      display: inline-block;
      padding-left: 20px;
      &:first-child {
        padding-left: 0;
      }
      a {
        text-decoration: none;
        color: #fff;
        position: relative;
        top: 0;
        &:hover {
          color: #98EAFF;
        }
        &:active {
          color: #56AFC5;
          top: 2px;
        }
      }
    }
    &.light li a {
      color: #108eba;
      &:hover {
        color: #00BDFF;
      }
      &:active {
        color: #15627E;
        top: 2px;
      }
    }
    &.waiting {
      opacity: 0;
      li {
        top: -10px;
        color: #0e526b;
      }
    }
  }
}