<html>
	<head>
		
	</head>
	<body>
	<p>Здравей, {{ invitation.invitee.first_name }}, </p>
	<p>Видях, че искаш да се включиш в/във "{{ invitation.skill.name }}".</p>
	<p>Проектът "{{ invitation.project.name }}" има нужда точно от това.</p>
	<p>Задачата е: "{{ invitation.task.name }}" </p>
	{% if invitation.message %}
		<p>Eто малко повече информация: {{ invitation.message }}</p>
	{% endif %}
	<p><a href="http://{{ site }}/supplies/invitations/{{ invitation_answer.pk }}/yes/">"Заемам се"</a></p>
	<p><a href="http://{{ site }}/supplies/invitations/{{ invitation_answer.pk }}/clarify/">"Трябват ми още детайли"</a></p>
	<p><a href="http://{{ site }}/supplies/invitations/{{ invitation_answer.pk }}/no/">"Не ми е интересно"</a></p>
	<p>Поздрави, </p>
	<p>{{ invitation.inviter.get_full_name }}</p>
	<p>{{ invitation.inviter.email }}</p>
	</body>
</html>