<html>
	<head>
		
	</head>
	<body>
	<p>Здравей, {{ invitee_name }}, </p>
	<p>Видях, че искаш да се включиш в/във "{{ skill }}".</p>
	<p>Проектът "{{ project }}" има нужда точно от това.</p>
	<p>Задачата е: "{{ task }}" </p>
	{% if message %}
		<p>Eто малко повече информация: {{ message }}</p>
	{% endif %}
	<p><a href="#">"Заемам се"</a></p>
	<p><a href="#">"Трябва ми още детайли"</a></p>
	<p><a href="#">"Не ми е интересно"</a></p>
	<p>Поздрави, </p>
	<p>{{ inviter_name }}</p>
	<p>{{ inviter_mail }}</p>
	</body>
</html>