<h2>Пиктограми</h2>
<h3>Стрелки</h3>
<ul class="gallery stripped clearfix">
    <li>
        <h4>Стрелка наляво</h4>
        <i class="flaticon-arrow462"></i>
        <code class="language-html">{% filter force_escape %}<i class="flaticon-arrow462"></i>{% endfilter %}</code>
    </li>
    <li>
        <h4>Стрелка надясно</h4>
        <i class="flaticon-arrow465"></i>
    </li>
    <li>
        <h4>Стрелка (шеврон) надясно</h4>
        <i class="flaticon-chevron18"></i>
    </li>
    <li>
        <h4>Стрелка (шеврон) надясно - изтънена</h4>
        <i class="flaticon-chevron15"></i>
    </li>
</ul>
<h3>UI</h3>
<ul class="gallery stripped clearfix">
    <li>
<h4>Отметка без подложка</h4>
<i class="flaticon-check5"></i>
    </li>
    <li>
<h4>Отметка с кръгла подложка</h4>
<i class="flaticon-check1"></i>
    </li>
    <li>
<h4>Хамбургер иконка - изтънена</h4>
<i class="flaticon-list23"></i>
    </li>
    <li>
<h4>Внимание</h4>
<i class="flaticon-warning18"></i>
    </li>
    <li>
<h4>RSS</h4>
<i class="flaticon-rss25"></i>
    </li>
</ul>

<h3>Разнородни</h3>
<ul class="gallery stripped clearfix">
    <li>
        <h4>User силует</h4>
        <i class="flaticon-bust"></i>
    </li>
    <li>
        <h4>Браузър</h4>
        <i class="flaticon-browser18"></i>
    </li>
    <li>
        <h4>База данни</h4>
        <i class="flaticon-database11"></i>
    </li>
    <li>
        <h4>Земя</h4>
        <i class="flaticon-earth17"></i>
    </li>
    <li>
        <h4>Обмен</h4>
        <i class="flaticon-exchange1"></i>
    </li>
    <li>
        <h4>Око</h4>
        <i class="flaticon-eye50"></i>
    </li>
    <li>
        <h4>Facebook</h4>
        <i class="flaticon-facebook8"></i>
    </li>
    <li>
        <h4>Ръка надясно</h4>
        <i class="flaticon-finger6"></i>
    </li>
    <li>
        <h4>Локация на карта</h4>
        <i class="flaticon-map25"></i>
    </li>
    <li>
        <h4>Курсор</h4>
        <i class="flaticon-mouse3"></i>
    </li>
    <li>
        <h4>Оригами</h4>
        <i class="flaticon-origami3"></i>
    </li>
    <li>
        <h4>Хартиено самолетче</h4>
        <i class="flaticon-paper5"></i>
    </li>
    <li>
        <h4>Боклук</h4>
        <i class="flaticon-ripped"></i>
    </li>
    <li>
        <h4>Лупа / Търсене</h4>
        <i class="flaticon-search4"></i>
    </li>
    <li>
        <h4>Шипка / България</h4>
        <i class="flaticon-shipka1"></i>
    </li>
    <li>
        <h4>Фотоапарат / Снимка</h4>
        <i class="flaticon-small35"></i>
    </li>
    <li>
        <h4>Мишена / Вълна</h4>
        <i class="flaticon-target6"></i>
    </li>
    <li>
        <h4>Github blacktocat</h4>
        <i class="flaticon-social44"></i>
    </li>
    <li>
        <h4>Play / Старт</h4>
        <i class="flaticon-start1"></i>
    </li>
    <li>
        <h4>Thumbs up / Vote / Like</h4>
        <i class="flaticon-thumbs26"></i>
    </li>
</ul>